In [ ]:
def suma(num):
    suma = 0
    for i in range(num +1 ):
        suma += i
    print(suma)

In [ ]:
import time
time.time()
marca1 = time.time()
n = 3
suma(n)
marca2 = time.time()
print(marca2 - marca1)

6
0.00010728836059570312

In [ ]:
def sumaNumeros(n):
    if (n == 0):
        return 0
    else: 
        return n+sumaNumeros(n-1)

In [ ]:
import time
time.time()
marca = time.time()
n = 3
sumaNumeros(n)
marca2 = time.time()
print(marca2 - marca)

4.5299530029296875e-05

#Ejercicio 2

In [ ]:
numeros = [1,2,3]

def unaFuncionCualquiera( lista ):
    conteo = 0 # Orden 1
    for numero1 in lista:
        for numero2 in lista:
            print(numero1 , numero2 ) #O(n^2)
            conteo += 1 #O(n^2)
    return conteo
# O(1 + 2n^2)
# O(n^2)

conteo = unaFuncionCualquiera(numeros)

print( "Final:" , conteo)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
Final: 9

#Ejercicio 3.1 
Modificar el anterior para que: 
- Sume los elemento de la lista y muestre el resultado

In [ ]:
numeros = [1,2,3]

def unaFuncionCualquiera( lista ):
    conteo = 0 #o(1)
    suma = 0  #o(1)
    for num in lista:
        suma += num #o(n)
    print(f"La sumatoria de los numeros en la lista es={ suma } ")#O(1)

    for numero1 in lista:
        for numero2 in lista:
            print(numero1 , numero2 ) #O(n^2)
            conteo += 1 # O(n^2)
    return conteo
# o(3+n+2n^2)
# O( n^2)

conteo = unaFuncionCualquiera(numeros)

print( "Final:" , conteo)

La sumatoria de los numeros en la lista es=6
1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
Final: 9

In [ ]:
numeros = [1,2,3]
numeros2 = [4,5,6,7,8]

def unaFuncionCualquiera( lista, lista2 ):
    conteo = 0 # Orden 1
    for numero1 in lista:
        for numero2 in lista2:
            print(numero1 , numero2 ) #O(n * m)
            conteo += 1 #O(n * m)
    return conteo
# O(1 + 2(n * m))
# O((n*m))
conteo = unaFuncionCualquiera(numeros, numeros2)

print( "Final:" , conteo)

1 4
1 5
1 6
1 7
1 8
2 4
2 5
2 6
2 7
2 8
3 4
3 5
3 6
3 7
3 8
Final: 15

In [ ]:
def busqueda_lineal( lista, val_a_buscar ):
  contador=0 #o (1)
  
  for x in range(len(lista)):
    contador += 1 # O(n)
    if lista[x] == val_a_buscar:
      print(f"Encontrando en la posicion:  {x}") # O(1)
      break
  return contador
 #O(1 + n + 1) --> O(2+n)
 #O(n)

numeros = [2,4,55,44,3,23,65,90,34,66,23]
comparaciones = busqueda_lineal(numeros, 3)
print(f"{comparaciones} comparaciones")

Encontrando en la posicion  4
5 comparaciones