# Bubble sort

In [ ]:
#info = [8,5,9,3]
info = [4,5,65,67,23,123,456,789,55,33,21,23,445,0]

def burbuja( data ): # O(n) O(1)
  tam = len(data) # O(1) O(1)
  for tope in range(tam - 1,0,-1): # O(1) O(na)                # range (3,0,-1)
    for pivote in range(tope): # O(1) O(na)
      if data[pivote] > data [pivote + 1 ]: # O(na) O(na)
        data[pivote],data[pivote+1] = data[pivote+1],data[pivote] # O(0) O(2n^2)
    print(f"--> {data} <--")
  return data # O(0) O(1)

# M O(n) P O(n^2)

burbuja(info)

--> [5, 8, 3, 9] <--
--> [5, 3, 8, 9] <--
--> [3, 5, 8, 9] <--

[3, 5, 8, 9]

# Selection Sort

In [ ]:
#info = [8,5,9,3]
info = [4,5,65,67,23,123,456,789,55,33,21,23,445,0]

def selection_sort (data): #M O(n) P O(1)
  for pivote in range(len(data)): #M O(1) P O(na)
    min = pivote # Posicion del menor  #M O(1) P O(n)
    for index in range(pivote , len(data), 1): #M O(1) P O(na)
      if data[index] < data[min] : #M O(0) P O(na)
        min = index #M O(0) P O( 1 n^2)
    data[pivote], data[min] = data[min], data[pivote] #M O(0) P O( 2n) 
    print(f"--> {data} <--") #M O(0) P O(0)
  return data #M O(0) P O(1)
  
#M O(n+1+1+1) P O(n+1n^2+2n+1)
#M O(n) P O(n^2)  
print(selection_sort(info))

--> [0, 5, 65, 67, 23, 123, 456, 789, 55, 33, 21, 23, 445, 4] <--
--> [0, 4, 65, 67, 23, 123, 456, 789, 55, 33, 21, 23, 445, 5] <--
--> [0, 4, 5, 67, 23, 123, 456, 789, 55, 33, 21, 23, 445, 65] <--
--> [0, 4, 5, 21, 23, 123, 456, 789, 55, 33, 67, 23, 445, 65] <--
--> [0, 4, 5, 21, 23, 123, 456, 789, 55, 33, 67, 23, 445, 65] <--
--> [0, 4, 5, 21, 23, 23, 456, 789, 55, 33, 67, 123, 445, 65] <--
--> [0, 4, 5, 21, 23, 23, 33, 789, 55, 456, 67, 123, 445, 65] <--
--> [0, 4, 5, 21, 23, 23, 33, 55, 789, 456, 67, 123, 445, 65] <--
--> [0, 4, 5, 21, 23, 23, 33, 55, 65, 456, 67, 123, 445, 789] <--
--> [0, 4, 5, 21, 23, 23, 33, 55, 65, 67, 456, 123, 445, 789] <--
--> [0, 4, 5, 21, 23, 23, 33, 55, 65, 67, 123, 456, 445, 789] <--
--> [0, 4, 5, 21, 23, 23, 33, 55, 65, 67, 123, 445, 456, 789] <--
--> [0, 4, 5, 21, 23, 23, 33, 55, 65, 67, 123, 445, 456, 789] <--
--> [0, 4, 5, 21, 23, 23, 33, 55, 65, 67, 123, 445, 456, 789] <--
[0, 4, 5, 21, 23, 23, 33, 55, 65, 67, 123, 445, 456, 789]

# Insertion Sort
Como cuando juegas cartas

In [ ]:

  def insertion_sot (data):
    print(f"originak {data}")
    # toda la logica de Insertion sort 


  info = [10,51,2,18,4,31,12,5]

   insertion_sort(info)